@charset "utf-8";
/*About Me stylesheet

Author: Swan Htet
Date: Jan 6, 2020

body{
	background-color:yellow
}*/
.tinted{
background-color:green}
span {
	font-style: italic;
}
h1 {color:red;
	font-size:40px

}
.topnav a {
  float: left;
  display: block;
  color: #000066;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.topnav a{
  background-color: #ddd;
  color: black;
  }